<style type="text/css">
    
    td{
        width:30%;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">{:__('修改自定义回复')}</h2>
<form  class="form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="{:url('user/responseedit')}" novalidate="novalidate">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">关键字:</label>
        <div class="col-xs-12 col-sm-8">
            <input  class="form-control" data-rule='required' name="keyword" value="{$row.keyword}" type="text">
        </div>
     </div>
            <input  class="form-control" data-rule='required' name="id" value="{$row.id}" type="hidden">
   <div class="form-group">
         <label class="control-label col-xs-12 col-sm-2">回复:</label>
        <div class="col-xs-12 col-sm-8">
            <input  class="form-control" data-rule='required' name="response" value="{$row.response}" type="text">
        </div>
     </div>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">确定</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>